<!DOCTYPE html>
<html>
<body>
<form action="/models" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Fasting Sugar</label>
          <input type="text" name="diabetes" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Number</label>
          <input type="text" name="pass"placeholder="Password">
        </div>
        <button type="submit">POST IT</button>
</form>
{% if data: %}
<h1>{{data}}</h1><br>
{% endif %}
</body>
</html>

