.form-control{
    border-top: 2px;
    border-radius: 4px;
    border: 2px solid #4EAAFF;
}

.output-text{
    background-color: #005BAF;
    color: aliceblue;
    padding: 2vh;
    border-radius: 4px;
    max-width: 70vh;
}