.form-control{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
}
#signupbt
{
    margin-top: 10%;
    width: 200%;
    margin-left: -50%;
}
.mail
{
    margin-top: 45px;
}
.pass
{
    margin-top: 45px;
}